html {
    background-color: #eee;
}

body {
    min-width: 1060px;
}

nav {
    display: block;
    margin-left: 70px;
    max-width: auto;
    height: 77px;
    padding: 26px 20px;
    background-color: gray;
}

.navLogo {
    display: inline;
    margin-right: 50%;
    margin-left: 10px;
    border-left: 10px;
    border-left-color: black;
}

#loGo {
    display: inline;
    margin-left: 10px;
    border-left: 10px;
    border-left-color: black;

}

.rightMenuUi {
    display: inline;
    padding-inline-end: 70%;


}

.rightMenu {
    display: inline;

}

.serchMenu {
    display: inline;

}

.heartMenu {
    display: inline;


}

.myPageMenu {
    display: inline;
}

.main-contents {
    background-color: red;

}

.feedProfileImg {}

.feedMainImg {}

.side-contents {
    background-color: yellow;
}

.rigthMyView {
    background-color: blue;
}

.rigthMyStory {
    background-color: aqua;
}

.rightMyrecomend {
    background-color: blueviolet;
}