html {
  background-color: #eee;
}

body {
  min-width: 500px;
  line-height: 1.6;
  margin: 0;
}
/* 헤더영역 */
.header {
  position: fixed;
  display: inline;
  min-width: 500px;
  max-width: 1400px;
  background: #0c4b33;
  height: 72px;
  padding: 15px 0 4px;
}

.container {
  display: inherit;
}

.container,
.container-float {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.logo {
  padding-left: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.logotext {
  margin: 0;
  padding-left: inherit;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 80px;
}

.nav {
  display: inherit;
  text-align: right;
}

.list {
  display: inline;
  margin: 0;
  font-size: 0;
}

.list-item {
  display: inline;
}

.list-item > a {
  color: white;
  display: inherit;
  padding: 10px;
}

.list-item > a:hover {
  color: #c9f0dd;
}
/* 메인영역 */
.main-contents {
  background-color: red;
  margin-top: 120px;
  float: left;
  width: 60%;
}

article {
  float: right;
}

.maindata {
}

.feedProfileImg {
}

.feedMainImg {
}

.main-imoticon {
}

.comment {
}

.commentwrite {
}

.buttonShape {
}
/* 사이드영역 */
.side-contents {
  position: fixed;
  margin-top: 120px;
  display: inline;
  float: right;
  width: 40%;
  background-color: yellow;
}

.rigthMyView {
  height: 50px;
  background-color: blue;
}

.rigthMyStory {
  height: 280px;
  background-color: aqua;
}

.rightMyrecomend {
  height: 200px;
  background-color: blueviolet;
}

.all-contents {
  height: 50%;
}
